{% extends 'session-templates/base.html' %}
{% load static %}


{% block active-next %}
  {% if sout %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block active-next-mobile %}
  {% if sout %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block active-past %}
  {% if sout_finish %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block active-past-mobile %}
  {% if sout_finish %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}



{% block Page-title %}
SOUTAPP-BLOG
{% endblock %}

{% block content %}
  <div class="section search-result-wrap">
    <div class="container">
  
      <div class="row posts-entry">
        <div class="col-lg-12">
          {% if sout %}
            {% for st in sout %}
              <div class="blog-entry d-flex blog-entry-search-item">
                <a href="{% url 'sout_detail' st.id_sout %}" class="img-link me-4">
                  <img src="{{ st.id_etudiant.image_etu.url }}" alt="Image" class="img-fluid">
                </a>
                <div>
                  <span class="date">{{ st.Date_sout }} &bullet; <a href="{% url 'sout_detail' st.id_sout %}">{{ st.id_etudiant.id_filiere.designation }}</a>&bullet; Par {{ st.id_etudiant.nom_etu }} {{ st.id_etudiant.prenom_etu }}</span>
                  <h2><a href="{% url 'sout_detail' st.id_sout %}">{{ st.theme }}</a></h2>
                  <p>
                    {{ st.lieu }} 
                  </p>
                  <p> 
                    De {{ st.Heure_deb }} 
                  </p>
                  <p> 
                    A {{ st.Heure_fin }}
                  </p>

                  <p><a href="{% url 'sout_detail' st.id_sout %}" class="btn btn-sm btn-outline-primary">Lire</a></p>
                </div>
              </div>
            {% endfor %}

            
          {% endif %}


          <!-- Pour les Soutenances Terminer -->
          {% if sout_finish %}
            {% for st in sout_finish %}
              <div class="blog-entry d-flex blog-entry-search-item">
                <a href="{% url 'sout_detail_finish' st.id_sout %}" class="img-link me-4">
                  <img src="{{ st.id_etudiant.image_etu.url }}" alt="Image" class="img-fluid">
                </a>
                <div>
                  <span class="date">{{ st.Date_sout }} &bullet; <a href="{% url 'sout_detail_finish' st.id_sout %}">{{ st.id_etudiant.id_filiere.designation }}</a>&bullet; Par {{ st.id_etudiant.nom_etu }} {{ st.id_etudiant.prenom_etu }}</span>
                  <h2><a href="{% url 'sout_detail_finish' st.id_sout %}">{{ st.theme }}</a></h2>
                  <p>
                    Soutenance terminer
                  </p>
                  <p><a href="{% url 'sout_detail_finish' st.id_sout %}" class="btn btn-sm btn-outline-primary">Lire</a></p>
                </div>
              </div>
            {% endfor %}
          {% endif %}
  
          
          <!--
          <div class="row text-start pt-5 border-top">
            <div class="col-md-12">
              <div class="custom-pagination">
                <span>1</span>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <span>...</span>
                <a href="#">15</a>
              </div>
            </div>
          </div>
          -->
        </div>
        <!--
            <div class="col-lg-1 sidebar"> 
    
            </div>
            -->
      </div>
    </div>
  </div>
  
  <!-- Preloader -->
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>




{% endblock %}