{% extends 'session-templates/base.html' %}
{% load static %}

{% block active-next %}
{% endblock %}

{% block active-next-mobile %}
{% endblock %}

{% block Page-title %}
SOUTAPP-FAQ
{% endblock %}

{% block search-input %}
{% endblock %}


{% block content %}
        <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 offset-xl-1">
                        <h1>SOUTAPP ?</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->


        <!-- Basic -->
        <div class="ex-basic-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="text-box mt-5 mb-5">
                            <p class="p-large">
                                SOUTAPP est une plateforme conçue pour permettre aux visiteurs, étudiants inclus, de consulter les informations
                                essentielles sur les soutenances académiques en cours et terminées. La gestion des dossiers et des évaluations est
                                assurée directement par l'administration de l'école, simplifiant ainsi l'accès aux informations pour tous
                            </p>
                        </div> <!-- end of text-box -->

                        <h2 class="mb-3">1. Accueil</h2>
                        <p>
                            Sur la page d'accueil, vous trouverez un tableau interactif qui vous présente les soutenances à venir. Ce tableau vous permet de consulter les informations essentielles sur chaque soutenance future, telles que : 
                        </p>  
                        <ul class="list-unstyled li-space-lg mb-5">
                            <li class="d-flex">
                                <strong>1.</strong>
                                <div class="flex-grow-1"><strong>Les dates et horaires : </strong><br>
                                    Les moments précis de chaque soutenance, pour vous aider à ne rien manquer.
                                </div>
                            </li>
                            <li class="d-flex">
                                <strong>2.</strong>
                                <div class="flex-grow-1"><strong>Les sujets des soutenances :</strong><br>
                                    Un aperçu des thèmes abordés, afin de savoir à quoi vous attendre.
                                </div>
                            </li>
                            <li class="d-flex">
                                <strong>3.</strong>
                                <div class="flex-grow-1"><strong>Les membres du jury :</strong><br>
                                    Une indication des professeurs et experts qui feront partie du jury pour chaque soutenance.
                                </div>
                            </li> 
                        </ul> 
                        <p>
                            Ce tableau est régulièrement mis à jour pour vous fournir les informations les plus récentes. C'est un outil pratique et simple pour rester informé des soutenances à venir et planifier vos activités en conséquence.
                        </p> 



                        <h2 class="mb-3">2. Prochaine</h2>
                        <p>
                            Dans cette section, vous pouvez consulter les soutenances à venir, avec toutes les informations nécessaires pour suivre les événements à venir. Pour chaque soutenance, vous trouverez :
                        </p>  
                        <ul class="list-unstyled li-space-lg mb-4">
                            <li class="d-flex">
                                <strong>1.</strong>
                                <div class="flex-grow-1"><strong>Les membres du jury à venir :</strong><br>
                                    Une présentation des professeurs et experts qui feront partie du jury pour la soutenance.
                                </div>
                            </li>
                            <li class="d-flex">
                                <strong>2.</strong>
                                <div class="flex-grow-1"><strong>Les horaires et dates :
                                        </strong><br>
                                    Les détails concernant les moments exacts des soutenances pour que vous puissiez suivre les événements en temps réel.
                                </div>
                            </li>
                            <li class="d-flex">
                                <strong>3.</strong>
                                <div class="flex-grow-1"><strong>Les sujets et thématiques :</strong><br>
                                    Les thématiques et domaines des soutenances à venir, pour vous donner un aperçu de ce qui sera abordé.
                                </div>
                            </li>
                        </ul> 
                        <p>
                            Cette section vous permet de rester informé des soutenances futures et de planifier votre participation ou vos suivis en fonction de vos intérêts ou besoins.
                        </p> 

                        <h2 class="mb-3">3. Terminer</h2>
                        <p>Dans cette section, vous pouvez consulter toutes les soutenances qui ont déjà eu lieu. Pour chaque soutenance, vous trouverez des informations détaillées telles que :</p> 
                        <ul class="list-unstyled li-space-lg mb-5">
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <strong>Les membres du jury :</strong>
                                    Une liste complète des professeurs et experts qui ont participé à l'évaluation de la soutenance.
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <strong>Les appréciations :</strong>
                                    Les commentaires et évaluations des membres du jury concernant le travail présenté, les points forts et les aspects à améliorer.
                                </div>
                            </li>
                            <li class="d-flex">
                                <i class="fas fa-square"></i>
                                <div class="flex-grow-1">
                                    <strong>Les photos de la soutenance : </strong> 
                                    Des images capturées lors de l'événement, vous permettant de revivre ces moments importants et de voir l'atmosphère de chaque soutenance.
                                </div>
                            </li> 
                        </ul>
                        <p>Cette section vous offre une vue d'ensemble sur les soutenances passées et vous permet d'accéder aux retours et aux moments clés pour mieux comprendre les attentes et les critères d'évaluation des soutenances.</p> 
                        
                        
                        <h2 class="mb-3">4. Professeur</h2>
                        <p class="mb-4">Dans cette section, vous pouvez voir tous les professeurs qui dirigent les soutenances. Elle vous permet aussi d'avoir des informations spécifiques sur chaque professeur tels que :</p>
                        <ul class="list-unstyled li-space-lg mb-5">
                            <li class="d-flex">
                                <strong>1.</strong>
                                <div class="flex-grow-1">
                                    <strong>La spécialité</strong><br>
                                    Vous trouverez ici la discipline dans laquelle chaque professeur est expert, ce qui vous permet de mieux comprendre leur domaine d'intervention lors des soutenances. Cela vous aide à identifier le professeur qui pourrait le mieux correspondre à vos besoins spécifiques.
                                </div>
                            </li>
                            <li class="d-flex">
                                <strong>2.</strong>
                                <div class="flex-grow-1">
                                    <strong>Contact</strong><br>
                                    vous permet d'accéder à des informations de contact direct avec chaque professeur, telles que leur adresse email ou numéro de téléphone, pour toute question ou prise de rendez-vous. Si vous avez besoin de clarifications supplémentaires avant votre soutenance, vous pouvez facilement les joindre.
                                </div>
                            </li>
                            <li class="d-flex">
                                <strong>3.</strong>
                                <div class="flex-grow-1">
                                    <strong>Liens vers les réseaux sociaux des professeurs</strong><br>
                                    Chaque professeur présent sur le site a également ses profils sur les principaux réseaux sociaux. Ces liens vous permettent de suivre leurs publications professionnelles, de découvrir leurs projets ou de mieux comprendre leur expertise et leur parcours. Vous pourrez ainsi échanger avec eux via des canaux informels ou obtenir des informations supplémentaires en dehors des heures de travail formelles. Les réseaux sociaux peuvent également être un excellent moyen de rester informé des événements à venir, des conférences, ou de toute autre actualité les concernant.
                                </div>
                            </li>
                        </ul>


                        <h2 class="mb-3">5. Contact</h2>
                        <p class="mb-4">
                            Dans cette section, vous trouverez un formulaire de contact simple et pratique qui vous permet d'envoyer des messages directement à l'équipe administrative du site. Si vous avez des questions spécifiques, des demandes particulières ou si vous souhaitez prendre rendez-vous avec un professeur, le formulaire est l'outil idéal pour vous.
                            Il vous suffit de remplir vos informations (nom, adresse e-mail, sujet et message), puis de soumettre le formulaire. Une fois envoyé, votre message sera reçu et traité dans les plus brefs délais. Ce système vous permet de communiquer efficacement et de manière formelle, tout en offrant une solution rapide pour obtenir des réponses à vos préoccupations.
                        </p>
                        


                        
                        <div class="text-box mb-5">
                            <h3>Merci de visiter notre site !</h3>
                            <p>
                                Nous tenons à vous remercier sincèrement pour l'intérêt que vous portez à notre plateforme. 
                                Votre visite nous touche et nous sommes ravis de pouvoir vous offrir un accès facile et direct aux informations concernant les professeurs et les soutenances.
                            </p>
                            <p>
                                Si vous trouvez notre site utile, n'hésitez pas à le partager avec vos amis, collègues et autres étudiants. 
                                Plus nous serons nombreux à utiliser cette plateforme, plus nous pourrons améliorer l'expérience pour tous. 
                                Ensemble, faisons connaître ce site pour qu'il devienne un véritable outil de référence pour les soutenances et les échanges académiques.
                            </p> 
                        </div>  
                        <p class="mb-5">Merci encore pour votre soutien et à très bientôt sur notre site !</p>
                        
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
        <!-- end of basic -->

{% endblock %}