{% extends 'session-templates/base.html' %}
{% load static %}

{% block active-next %}
  {% if sout  %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block active-next-mobile %}
  {% if sout  %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block active-past %}
  {% if soutfinish %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block active-past-mobile %}
  {% if soutfinish %}
          <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg" aria-hidden="true">
          </span>
  {% endif %}
{% endblock %}

{% block Page-title %}
  {% if sout %}
    SOUTAPP-SOUTENANCES-{{ sout.theme }}
  {% endif %}

  {% if soutfinish %} 
    SOUTAPP-SOUTENANCES-{{ soutfinish.theme }}
  {% endif %}
{% endblock %}

{% block search-input %}
{% endblock %}

{% block content %}
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{{ soutenance_banniere.id_photo.image.url }}')">
  <div class="container">
    <div class="row same-height justify-content-center">
      <div class="col-md-6">
        <div class="post-entry text-center">
          <h1 class="mb-4">{{ rapport.titre }}</h1>
          <div class="post-meta align-items-center text-center">
            <figure class="author-figure mb-0 me-3 d-inline-block">
              <img
                src="{{ etudiant.image_etu.url }}" 
                alt="Image" 
                class="img-fluid"
                class="lazy"
                >
            </figure>
            <span class="d-inline-block mt-1">Par {{ etudiant.nom_etu }} {{ etudiant.prenom_etu }}</span>
            <span>&nbsp;-&nbsp; {{ sout.Date_sout }}</span>
          </div>
          <div class="post-meta align-items-center text-center"> 
            <span class="d-inline-block mt-1">{{ sout.Heure_deb }}</span>
            <span>&nbsp;-&nbsp; {{ sout.Heure_fin }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="row blog-entries element-animate">
      <div class="col-md-12 col-lg-8 main-content">

        <!-- rapport section --> 
        {% if rapport %} 
          <div class="post-content-body">
            <p>
              {{ rapport.sommaire }}
            </p>
              <div class="row my-4">
                {% for image in soutenance_images %}
                  <div class="col-md-6 mb-4">
                    <img src="{{ image.id_photo.image.url }}" alt="Image" class="img-fluid rounded" class="lazy">
                  </div> 
                {% endfor %}
              </div>
            <p>
              {{ rapport.contenu }}
            </p>
          </div>
        {% endif %} 


        <!-- Jury section --> 
        {% if superviseurs %} 
          <div class="pt-5 comment-wrap">
            <h3 class="mb-5 heading">Menbres du Jury</h3>
            <ul class="comment-list">
              {% for superviseur in superviseurs %}
                <li class="comment">
                    <div class="vcard">
                      <img src="{{ superviseur.id_prof.image_prof.url }}" alt="Image" class="lazy">
                    </div>
                    <div class="comment-body">
                      <h3>{{ superviseur.id_prof.nom_prof }} {{ superviseur.id_prof.prenom_prof }}</h3> 
                      <p>
                        {{ superviseur.role }}
                      </p>
                    </div>
                </li>
              {% endfor %} 
            </ul>
          </div>
        {% endif %} 

        <!-- Félicitations des professeurs -->
        {% if appreciations %}
          <div class="pt-5 comment-wrap">
            <h3 class="mb-5 heading">Félicitations des Menbres</h3>
            <ul class="comment-list">
                {% for appreciation in appreciations %}
                  <li class="comment">
                    <div class="vcard">
                      <img src="{{ appreciation.id_prof.image_prof.url }}" alt="Image" class="lazy">
                    </div>
                    <div class="comment-body">
                      <h3>{{ appreciation.id_prof.nom_prof }} {{ appreciation.id_prof.prenom_prof }}</h3> 
                      <p>
                        {{ appreciation.appreciation }}
                      </p>
                    </div>
                  </li>
                {% endfor %}
            </ul>
            <!-- END comment-list -->
          </div>
        {% endif %}
      </div>

      <!-- END main-content -->
      <!-- Start sidebar -->
      
      {% if etudiant %}
        <div class="col-md-12 col-lg-4 sidebar">
          <div class="sidebar-box rounded">
            <div class="bio text-left">
              <img src="{{ etudiant.image_etu.url }}" alt="Image" class="img-fluid mb-3 rounded" class="lazy">
              <div class="bio-body">
                <h2>{{ etudiant.nom_etu }} {{ etudiant.prenom_etu }}</h2>
                <p class="mb-4">
                  Etudiant en {{ filiere.designation }}
                </p>
              </div>
            </div>
          </div>
        </div> 
      {% endif %} 
      <!-- END sidebar -->
    </div>
  </div>
</section>


<!-- Start posts-entry -->
{% if soutenances_non_terminees %}
    <section class="section posts-entry posts-entry-sm bg-light">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 text-uppercase text-black">Plus de Soutenances</div>
        </div>
        <div class="row">
          {% for sout in soutenances_non_terminees %}
            <div class="col-md-6 col-lg-3">
              <div class="blog-entry">
                <a href="{% url 'sout_detail' sout.id_sout %}" class="img-link">
                  <img src="{{ sout.id_etudiant.image_etu.url }}" alt="Image" class="img-fluid" class="lazy">
                </a>
                <span class="date">{{ sout.Date_sout }}</span>
                <h2><a href="{% url 'sout_detail' sout.id_sout %}">{{ sout.theme }}</a></h2>
                <p>{{ sout.Heure_deb }} - {{ sout.Heure_fin }}</p>
                <p><a href="{% url 'sout_detail' sout.id_sout %}" class="read-more">Lire</a></p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endif %}
<!-- End posts-entry -->
<!-- Le Footer -->
<!--
<footer class="site-footer">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h3 class="mb-4">Recent Post Entry</h3>
          <div class="post-entry-footer">
            <ul>
              <li>
                <a href="">
                  <img src="{% static 'blog-static/images/img_1_sq.jpg' %}" alt="Image placeholder"
                    class="me-4 rounded">
                  <div class="text">
                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                    <div class="post-meta">
                      <span class="mr-2">March 15, 2018 </span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="{% static 'blog-static/images/img_2_sq.jpg' %}" alt="Image placeholder"
                    class="me-4 rounded">
                  <div class="text">
                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                    <div class="post-meta">
                      <span class="mr-2">March 15, 2018 </span>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <img src="{% static 'blog-static/images/img_3_sq.jpg' %}" alt="Image placeholder"
                    class="me-4 rounded">
                  <div class="text">
                    <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                    <div class="post-meta">
                      <span class="mr-2">March 15, 2018 </span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>  /.widget  
      </div>  /.col-lg-4  
    </div>  /.row  
    -->

    <!--
    <div class="row mt-5">
      <div class="col-12 text-center">
        
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            

        <p>Copyright &copy;
          <script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love
          by <a href="https://untree.co">Untree.co</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
          License information: https://untree.co/license/  
        </p>
      </div>
    </div>
  </div>  /.container  
  
</footer>  /.site-footer -->

<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>




{% endblock %}